/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}

/* Container Styles */
.container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4d874;
    margin: 0 auto;
}

/* Header Styles */
h1 {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}

/* Form Styles */
form {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background: #218838;
}

/* Task List Styles */
ul {
    list-style: none;
    padding: 0;
    margin-top: 4;
    border-radius: 8%;
    margin: 10px;
}

li {
    background: #c40f0f79;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

li button.delete {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background: #c82333;
}

li span {
    font-size: 18px;
    font-weight: bold;
}

li p {
    margin: 5px 0;
    font-size: 14px;
}

/* Category Styles */
.category {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 10px;
    font-style: italic;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    position: relative;
    text-align: center;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;

}

#modal-title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    
}

#task-datetime{
    width: 100% - 22px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 100px;
}
#task-frequency {
    width: 100% - 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 35px;

}

#task-notes {
    width: 93%;
    height: 80px;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;
}

#modal-form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

#modal-form button:hover {
    background-color: #218838;
}

/* Category Menu Styles */
.category-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 5px;
    z-index: 10;
    width: 140px;
    overflow: hidden;
}

.category-option {
    display: block;
    width: 87%;
    padding: 10px;
    text-align: center;
    border: none;
    background: #e8cf44;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.category-option:hover {
    background-color: #2baf17;
}

#category-button {
    padding: 10px;
    border: none;
    background: #ecd526;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#category-button:hover {
    background: #42b300;
}
